<div ng-controller="JournalViewerController as jwCtrl">
    <ul class="list-group">
        <li data-ng-repeat="journal in jwCtrl.journaux" class="list-group-item">{{journal.titre}}</li>
    </ul>
    <div class="panel panel-default" ng-if="rubedo.current.user">
        <div class="panel-heading">Ajouter un journal</div>
        <div class="panel-body">
            <form class="form-inline" ng-submit="jwCtrl.createNewJournal()">
                <div class="form-group">
                    <input required ng-model="jwCtrl.newJournalTitle" type="text" class="form-control" id="exampleInputName2" placeholder="Titre">
                </div>
                <button type="submit" class="btn btn-default">Ajouter</button>
            </form>
        </div>
    </div>


</div>